<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <!--<div class="p-3 mb-2 bg-info text-black">-->
    <a href="/" class="text-red">Home</a></p>

        <!--<a href="programDesign" class="text-red">view more</a></p>-->
</div>


<div class="container">
    <!--<div class="p-3 mb-2 bg-info text-black">-->
        <h1 align="center" text-white >Blog Home</h1>
        <p>
            <!--<a href="programDesign" class="text-red">view more</a></p>-->
    </div>

<div class="container">
    <div class="p-3 mb-2 bg-info text-black">
    <h4 text-white >GitHub</h4>
        <h6>May 10, 2019</h6>
    <p>When you set up aenew machine, you only need to configure the author once.
        <a href="gitHub" class="text-red">view more</a></p>

    </div>
</div>

<div class="container">
    <div class="p-3 mb-2 bg-info text-black">
        <h4 text-white >Program Design & Algorithms</h4>
        <h6>May 10, 2019</h6>
        <p>"The hardest single part of building a software system is deciding precisely what to build." —Fred Brooks
        <a href="programDesign" class="text-red">view more</a></p>
    </div>
</div>

<div class="container">
    <div class="p-3 mb-2 bg-info text-black">
        <h4 text-white >Core Java</h4>

        <h6>May 10, 2019</h6>
        <!--<p>This is my paragraph</p>-->

        <p>Java is a general-purpose programming language. Much of the syntax is derrived from C
            <a href="coreJava" class="text-red">view more</a></p>


    </div>
</div>

<div class="container">
    <div class="p-3 mb-2 bg-info text-black">
        <h4 text-white >Object-oriented Java</h4>

        <h6>May 10, 2019</h6>
        <!--<p>This is my paragraph</p>-->

        <p>First there was functional or top-down programming.
        <a href="oop" class="text-red">view more</a></p>

    </div>
</div>

<div class="container">
    <div class="p-3 mb-2 bg-info text-black">
        <h4 text-white >HTML/CSS/Bootstrap</h4>

        <h6 style bold>May 10, 2019</h6>
        <p>CSS = Style: Cascading Style Sheets (CSS) dictate your website’s look
            <a href="hcb" class="text-red">view more</a></p>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>