<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Fork a Repository</h1>
<h3>Fork a repository on GitHub</h3>
<p1>
    After using GitHub by yourself for a while, you may find yourself wanting to contribute to someone else’s project.<br/>
    Or maybe you’d like to use someone’s project as the starting point for your own. This process is known as forking.<br/><br/>
    Creating a “fork” is producing a personal copy of someone else’s project. Forks act as a sort of bridge between the<br/>
    original repository and your personal copy. You can submit Pull Requests to help make other people’s projects better by<br/>
    offering your changes up to the original project. Forking is at the core of social coding at GitHub.<br/><br/>
</p1>
    For this tutorial, we’ll be using<a href="https://www.gitbook.com/book/javateach/javaee/edit">The Spoon-Knife Poject</a>
</body>
</html>