<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>The Difference Between CSS and HTML</h1>
<p>CSS = Style: Cascading Style Sheets (CSS) dictate your website’s look and feel.<br/><br/>
    Font size, font color, font type, styling around images, page layout, mouse-over effects and more are all determined by CSS.<br/><br/>
    HTML = Content: HyperText Markup Language (HTML) is the building-blocks of web pages.<br/><br/>
    HTML allows you to put images, text, videos, forms and other pieces of content together into a cohesive <br/>
    webpage. You can also tweak text words, resize images, and add links to either.<br/><br>
    To view the html of a web page, right-click and select View Source. Look for the style sheet link in the head<br/>
    section of your page. You can browse to the style sheet and view that as well. You can even link that style<br/>
    sheet to your page.<br/><br/>
    Your page can find it's style in one of three places: In the page, in the tag or in the link.
</p>
</body>
</html>