<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Java Web Developer Boot Camp</h1>
<h2>WHAT IS THE PROGRAM?</h2>
<p1>The Java Web Developer Boot Camp is an 8 hour a day (9 am - 5 pm, M-F) 8-week, immersive software engineering program<br/>
    funded by the Department of Labor. This course aims to increase the number of skilled software developers in this country.<br/>
    We do this by accepting qualified candidates who cannot afford the cost of a coding boot camp. If accepted into the program<br/>
    all fees will be covered by the program.<br/><br/>
</p1>
<h2>What will you Learn?</h2>
<p1>
    The Java Web Development Bootcamp takes you from your first java program to developing a web application. This course will<br/>
    give you a fast start on your career so you can take it to the next level. The course will teach you by forcing you to write<br/>
    over 130 java applications, including 5 major web applications. Programming challenges will keep you on your toes.<br/><br/>
    You'll learn to create servlets and web pages. You'll use frameworks, unit tests and stored procedures. You'll connect to an<br/>
    Oracle database using the Java Persistence API(JPA), and most importantly, all assignments are submitted through git, so you<br/>
    will learn to develop using best practices in class, to make it easy to contribute value when you are on the job.<br/>
</p1>
<h2>Is this bootcamp right for me?</h2>
<p>
    The bootcamp is for programmers with a basic understanding of an object oriented language: Java, C#, VB.NET, Python, PHP, Ruby or C++.<br/>
    You do not need experience developing web applications.<br/>
</p>
<h2>What is the criteria for admission?</h2>
<p>
    Applicants must be passionate about coding and have the drive to succeed in an immersive environment. Our ideal candidate<br/>
    is an Information Systems or Computer Science major who is either at least a rising junior or graduated within the last six years.<br/><br/>
    If a student doesn't meet those criteria, they can participate in a special one week mini-camp to assess their ability to learn<br/>
    in this environment. Applicants also must be unemployed or underemployed to qualify for the grant. In the state of Maryland,<br/>
    a person who makes $42,000 or less is underemployed. Must be able to work in the United States.<br/><br/>
    Students must apply to be considered for the program.
</p>

</body>
</html>